---
layout: value-driver
title: CI Build and Test Auto
description: Eliminate toolchain complexity. Get fully integrated CI/CD out-of-the-box with GitLab.
suppress_header: true
extra_css:
  - value-driver.css
  - form-compact.css
  - comparison-page.css
  - form-to-resource.css
destination_url: "https://learn.gitlab.com/c/mastering-continuous-1?x=RSo4AM&lb_email="
form_id: "1592"
form_type: "webcasts"
cta_title: "Free On Demand Webcast: <br> Mastering continuous software development"
cta_date: 
cta_subtitle: 
link_text: "&gt; Thanks for registering! Click here to view the webcast."
success_message: "You will also receive a copy of the webcast in your inbox shortly."
---
.wrapper.gitlab-ee-page
  .blank-header
    .container
      .row
        .col-md-10.col-md-offset-1
          %h1 Eliminate toolchain complexity.
          %p  As DevOps teams grow, too many integration points becomes a maintenance nightmare, and creates a brittle toolchain. Built-in CI/CD simplifies maintenance and management so teams can focus on creating instead of maintaining systems. See how you can improve efficiency and ship software faster.
  .sub-wrapper.main-content
    .container
      .row.u-margin-top-sm
        .col-md-4.col-md-offset-1.u-padding-bottom-large

          .valueboxes
            %h4.u-margin-top-0 What you will learn
            %ul
              %li How to simplify tool management and promote seamless collaboration with a single application for DevOps
              %li Why including code quality and security with your CI/CD workflows increases overall development velocity
              %li Techniques to avoid getting stuck with a rigid set up that won’t scale
              %li How to avoid errors and downtime caused by complex integrations and manual processes

        .col-md-5.col-md-offset-1
          .form-to-resource-outer-wrapper
            = partial "includes/form-to-resource"

      = partial "includes/home/customer-logos-transparent-ultra"