- articles.each do |article|

  %li 
    %a{ href: article.url }
      - if article.data.release_number
        GitLab
        = article.data.release_number
        released
      - else
        = article.title