-# name.to_s.downcase.delete(" ")
- speaker_name_parameterized = name.to_s.parameterize
.container-speaker{ id: "#{speaker_name_parameterized}" }
  .crop-speaker-photo
    = image_tag "#{photourl}", class: "speaker-photo", alt: "Gitlab speaker photo jpg"
  %h4.speaker-name= name
  %h5.speaker-title= title
  %p.speaker-company= company
